venv/
.DS_store
notebooks/.ipynb_checkpoints/
notebooks/archive/.ipynb_checkpoints/
notebooks/wip/.ipynb_checkpoints/

src/
data/
!data/correlation/out/*
scripts/.Rhistory

# Chris script
scripts/feature_list_with_performance_with_subtype_names_20200828-CW.py
# BK notebook
notebooks/archive/Fig_3_samp_counts-BK.ipynb
