# Routine
venv/
.DS_store
scripts/.Rhistory
notebooks/.ipynb_checkpoints/
notebooks/archive/.ipynb_checkpoints/
notebooks/wip/.ipynb_checkpoints/
scripts/.Rapp.history

# Source and transformed data
src/*
!src/README.md
data/ft_selection_skgrid/
!data/ft_selection_skgrid/README.md
data/manual_remove_mi/*.tsv
!data/manual_remove_mi/README.md
!data/correlation/out/*
data/archive/*
!data/archive/README.md
notebooks/archive
data/figure_panel_a/*.tiff
data/figure_panel_a/*.tsv
data/figure_panel_b/*.tsv
data/figure_panel_b/heatmaps/*.tiff
data/figure_panel_b/supplemental/*.tiff
data/figure_panel_b/supplemental/*.tsv
data/figure_panel_b/supplemental/Rplots.pdf
data/ft_importances/

# Scripts
scripts/feature_list_with_performance_with_subtype_names_20200828-CW.py

# temp 6/8/21 for branching
.Rhistory
data/TEST_df.tsv
data/TEST_imp_jadbio.tsv
data/TEST_imp_scikitgrid.tsv
data/TEST_jadbio.tsv
data/TEST_skgrid_impt.tsv
data/TEST_team_df.tsv
notebooks/wip/NEW notebook version of get fts.ipynb
notebooks/wip/NEW point to feature list in chris file?.ipynb
notebooks/wip/compile_model_names_extra.ipynb
notebooks/wip/n_best_models.txt
notebooks/wip/sanity_check_chris_top_models.ipynb
notebooks/wip/wip-ft-importance.ipynb

data/top_model_importances/
!src/modelID_performance2importance.json
!src/modelID_performance2importance_ALLCOHORTS.json
